.contaner_hero {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}

.container_conteudo_hero {
    position: relative;
    width: 99%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.area_accao_hero {
    width: 100%;
    height: 100%;
}

.area_foco_marca {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
}

.foco {
    color: var(--dourado_principal);
}

.min_info {
    padding: 10px 0px 5px 0px;
}

.area_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0px 0px 0px;
}