:root {
  --primary: #f2ca50;
  --secondary: #ebc156;
  --fundo: #16130b;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

body {
  background: var(--fundo);
}