:root {
  --primary: #f2ca50;
  --secondary: #ebc156;
  --fundo: #16130b;

  --gold-primary: #D4AF37;
  --gold-secondary: #E9C349;
  --gold-light: #F6D66E;


  --black: #0F0D09;
  --black-soft: #17140E;
  --black-light: #211c1590;
  --black-hover: #2A241B;

  --border: #3B342A;

  --text-primary: #F5F1E8;
  --text-secondary: #C9BFAF;
  --text-muted: #8A8175;

  --success: #4CAF50;
  --info: #4A90E2;
  --warning: #F5A623;
  --danger: #E74C3C;
}

/*:root{
    /* Gold /
    --gold-primary:#D4AF37;
    --gold-secondary:#E9C349;
    --gold-light:#F6D66E;

    /* Blacks /
    --black:#0F0D09;
    --black-soft:#17140E;
    --black-light:#211C15;
    --black-hover:#2A241B;

    /* Border /
    --border:#3B342A;

    /* Text /
    --text-primary:#F5F1E8;
    --text-secondary:#C9BFAF;
    --text-muted:#8A8175;

    /* States /
    --success:#4CAF50;
    --info:#4A90E2;
    --warning:#F5A623;
    --danger:#E74C3C;
}*/

html,
body,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* body {
  background: var(--fundo);
} */